---
const title = "Centro Amaï - Centro de Apoyo a la Maternidad - La Serena";
const description =
  "Centro de Apoyo a la Maternidad y Alimentación Infantil. Contamos con profesionales altamente capacitadas en lactancia y alimentación.";
const ogImage = "./og.jpg";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="./favicon.ico" />
  <meta name="generator" content={Astro.generator} />

  <title>{title}</title>
  <meta name="description" content={description} />

  <link rel="canonical" href="https://lopez-eguiluz-ltda.github.io/centroamai.cl/" />

  <!-- FB META -->
  <!-- <meta property="fb:app_id" content="#ID" />-->
  <meta property="og:url" content="https://lopez-eguiluz-ltda.github.io/centroamai.cl/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={ogImage} />
  <meta property="og:site_name" content="centroamai.cl" />

  <!-- TWITTER -->
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={ogImage} />
  <meta name="twitter:card" content="summary_large_image" />
</head>
