---
import type { SocialLinkType } from "@/utils/types";
import Picture from "astro/components/Picture.astro";
import { FaCircle } from "react-icons/fa6";
import SocialLink from "./PersonSocialLink.astro";

const { name, position, photo, socials } = Astro.props;
---

<div class="flex flex-col justify-center items-start">
  <div
    class="relative w-64 h-80 rounded-3xl shadow-lg overflow-hidden ring-white ring-offset-2 ring-4"
  >
    <div
      class="relative hover:scale-105 transition-transform duration-300 ease-in-out w-full h-full"
    >
      <Picture
        src={photo}
        alt=`Foto perfil ${name}`
        formats={["webp", "jpg"]}
        fallbackFormat="jpg"
        class="object-cover rounded-3xl w-full h-full transform"
      />

      {
        socials.length > 0 && (
          <div class="absolute inset-0 opacity-0 hover:opacity-100 rounded-3xl transition-opacity duration-300 ease-in-out">
            <div class="absolute bottom-4 bg-white/40 flex justify-center items-center w-full h-16 gap-3">
              {socials.map((socialLink: SocialLinkType) => (
                <SocialLink icon={socialLink.icon} link={socialLink.link} />
              ))}
            </div>
          </div>
        )
      }
    </div>
  </div>

  <div class="flex items-center gap-3 pt-4">
    <FaCircle className="text-corange" size={8} />
    <h2 class="text-sm text-cgray">{position}</h2>
  </div>
  <h2 class="font-bold text-xl text-white">{name}</h2>
</div>
